*{
	margin: 2px;
	box-sizing: border-box;
}/*'star' apply settings for all elements*/
body{
	background-color: #160A49;
	font-family:  'Jaldi','Yantramanav','Arial', sans-serif;
}
h2{
	color: #AEA5E8;
}
p{
	color: #CAC7F5;
}
#id1{
	color: #CAC7F5;
}
a:active{
	color: red;
	font-size: 18px;
}
.shadowtext{
	text-shadow: 1px 1px 2px black, 0 0 1em red; /* Параметры тени */
	color: white; /* Белый цвет текста */
	font-size: 2em; /* Размер надписи */

}
.header{
	font-size: 20pt;
	text-align: justify;
    letter-spacing: 1px;
    height: 2em;
    padding: 2em 10%;
    background: #7F7895;
    color: #fff;
    

	
}
